---
layout: page
title: Links
---
<div class="main">

  {% for post in site.posts %}
    {% if forloop.first == true %}

    <h2 class="group_title">LATEST</h2>
    {% if post.title_link != "" %}
    <a href="{{ post.title_link }}" class="button">{{ post.title }}</a>
    {% else %}
    <div class="multi-source">
      <span>{{ post.title }}</span>
      {{ post.excerpt }}
    </div>
    {% endif %}

    {% endif %}
  {% endfor %}

  <br>
  <h2 class="group_title">PREVIOUS</h2>

  {% for post in site.posts %}
    {% if forloop.first == false %}

    {% if post.title_link != "" %}
    <a href="{{ post.title_link }}" class="button">{{ post.title }}</a>
    {% else %}
    <div class="multi-source">
      <span>{{ post.title }}</span>
      {{ post.excerpt }}
    </div>
    {% endif %}

    {% endif %}
  {% endfor %}
</div>


            