---
layout: page
title: Links
---
<div class="main">
  {% for post in site.posts %}
    {% if forloop.first == true %}
    <h2 class="group_title">LATEST</h2>
    <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}" class="button" target="_blank">{{ post.title }}</a>
    {% endif %}
  {% endfor %}

  <br>
  <h2 class="group_title">PREVIOUS</h2>

  {% for post in site.posts %}
    {% if forloop.first == false %}
    <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}" class="button" target="_blank">{{ post.title }}</a>
    {% endif %}
  {% endfor %}
</div>


            