<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if site.about %}
        <a class="link" href="{{ site.home_swga }}">
            <img class="selfie" alt="{{ site.name_swga }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url_swga }}/{{ site.picture }}{% endif %}" />
        </a>
    {% else %}
        <span class="link">
            <img class="selfie" alt="{{ site.name_swga }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url_swga }}/{{ site.picture }}{% endif %}" />
        </span>
    {% endif %}

    <h1 class="title">{{ site.name_swga }}</h1>
    <h2 class="description">{{ site.bio_swga }} Subscribe at <a href="{{ site.home_swga }}" target="_blank">{{ site.home_swga | replace:'https://','' }}</a>.</h2>

    {% include social-links.html %}
</header>
